day-4/voltapply-workflows.json
[{"updatedAt":"2025-12-17T02:24:41.063Z","createdAt":"2025-12-17T02:18:25.130Z","id":"cRWtSPGYpZqnjCgm","name":"Start Run Webhook","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"start-run","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"eb68c02a-0f1a-43e0-bc92-6c6cf166a3ca","name":"Webhook","webhookId":"2374d057-76f8-4e1d-8bb2-e24d9c30bbd9"},{"parameters":{"options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[208,0],"id":"53213cf6-46a8-47dd-b0d1-225dc13edfbd","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"ac29fd1c-8499-460d-86b7-589409e8a3de","activeVersionId":"ac29fd1c-8499-460d-86b7-589409e8a3de","versionCounter":8,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-12-17T02:18:25.138Z","createdAt":"2025-12-17T02:18:25.138Z","role":"workflow:owner","workflowId":"cRWtSPGYpZqnjCgm","projectId":"4OkSolXXGxPoiVJN","project":{"updatedAt":"2025-12-17T02:09:33.736Z","createdAt":"2025-12-17T02:08:46.655Z","id":"4OkSolXXGxPoiVJN","name":"nicolas dominguez <voltapply@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2025-12-18T07:12:16.029Z","createdAt":"2025-12-18T00:50:35.526Z","id":"SwIhgUCCo0iJoe5I","name":"parse-resume","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"/parse-resume","options":{"rawBody":"={{ true }}"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"09422620-e8ee-495c-8a0a-84e5c2e0e55c","name":"Webhook","webhookId":"524db4e5-00e8-4044-81c9-ceb0fb258dd1"},{"parameters":{"url":"={{$json.body.resume_url}}\n","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"resume"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[208,0],"id":"872e4fdf-76ca-4a69-b6a0-f60d6ab4c346","name":"(Download Resume)"},{"parameters":{"method":"POST","url":"=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent\n","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-goog-api-key","value":"AIzaSyBPC52b6lBGpDoC4zkTacXbvyn3qRlDx28"}]},"sendBody":true,"contentType":"raw","rawContentType":"JSON","body":"={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Extract the name, location, and most relevant job title from this resume text:\\n\\n{{ $json.text }}\"\n        }\n      ]\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[672,0],"id":"1960a498-1168-4486-9e2b-13e890774cfc","name":"Gemini API"},{"parameters":{"operation":"pdf","binaryPropertyName":"resume","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[432,0],"id":"47682fcc-0365-435e-9e68-bd8944a51a15","name":"Extract from File"},{"parameters":{"method":"POST","url":"http://34.123.135.211:8000/update-location","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1088,0],"id":"a3ed668b-3116-4226-a531-ebd796fc56ad","name":"Update Redis"},{"parameters":{"assignments":{"assignments":[{"id":"1023fc9a-a341-4939-b4b0-f458082826b8","name":"email","value":"={{ $node[\"(Download Resume)\"].json.body.email }}","type":"string"},{"id":"3936e212-3cd7-4181-bf56-7e5daa6c96d4","name":"run_id","value":"={{ $node[\"(Download Resume)\"].json.body.run_id }}","type":"string"},{"id":"1d93bf19-d403-40f0-99af-403dc4f8e9ee","name":"location","value":"={{ $json[\"Location\"] || \"USA\" }}\n","type":"string"},{"id":"36a6a0ab-c509-4928-adfa-d94897c78b0a","name":"timestamp","value":"={{ Math.floor(Date.now() / 1000) }}","type":"string"},{"id":"2ed331a5-9fc9-4fff-b37d-8c275f70f0df","name":"gemini_output","value":"={{ $node[\"Gemini API\"].json[\"candidates\"][0].content.parts[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,0],"id":"2fc60feb-88be-4487-8770-ebcc56e143d0","name":"Build Redis Payload"}],"connections":{"Webhook":{"main":[[{"node":"(Download Resume)","type":"main","index":0}]]},"(Download Resume)":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Gemini API","type":"main","index":0}]]},"Gemini API":{"main":[[{"node":"Build Redis Payload","type":"main","index":0}]]},"Build Redis Payload":{"main":[[{"node":"Update Redis","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"34.123.135.211:5678","user-agent":"curl/7.81.0","accept":"*/*","content-type":"application/json","content-length":"151"},"params":{},"query":{},"body":{"email":"test@example.com","resume_url":"http://34.123.135.211/resumes/test%40example.com/20251217.pdf","run_id":"manual-test-007"},"webhookUrl":"http://34.123.135.211:5678/webhook/parse-resume","executionMode":"production"},"binary":{"data":{"data":"ewogICAgImVtYWlsIjogInRlc3RAZXhhbXBsZS5jb20iLAogICAgInJlc3VtZV91cmwiOiAiaHR0cDovLzM0LjEyMy4xMzUuMjExL3Jlc3VtZXMvdGVzdCU0MGV4YW1wbGUuY29tLzIwMjUxMjE3LnBkZiIsCiAgICAicnVuX2lkIjogIm1hbnVhbC10ZXN0LTAwNyIKfQ==","mimeType":"application/json"}},"pairedItem":{"item":0}}]},"versionId":"e5210bb0-ee1c-4045-8da0-2980bbdbc6c8","activeVersionId":"e5210bb0-ee1c-4045-8da0-2980bbdbc6c8","versionCounter":64,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-12-18T00:50:35.556Z","createdAt":"2025-12-18T00:50:35.556Z","role":"workflow:owner","workflowId":"SwIhgUCCo0iJoe5I","projectId":"4OkSolXXGxPoiVJN","project":{"updatedAt":"2025-12-17T02:09:33.736Z","createdAt":"2025-12-17T02:08:46.655Z","id":"4OkSolXXGxPoiVJN","name":"nicolas dominguez <voltapply@gmail.com>","type":"personal","icon":null,"description":null}}]}]